html {
  scroll-padding-top: 56px;
  overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar {
  background: linear-gradient(90deg, #03bca6, #004d40);
}

#home {
  background: linear-gradient(135deg, #4caf50, #03a9f4);
}

#about {
  background: linear-gradient(135deg, #0288d1, #00bcd4);
}

#main {
  background: linear-gradient(135deg, #4bb851, #1976d2);
}

#testimonials {
  background: linear-gradient(135deg, #4caf50, #1e88e5);
}

#faq {
  background: linear-gradient(135deg, #388e3c, #0288d1);
}

footer {
  background: linear-gradient(90deg, #00796b, #0288d1);
}

#about .card {
  background-color: #e1f5fe;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#about .card.bg-green {
  background-color: #c8e6c9;
}

#about .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

#main .card {
  background: linear-gradient(135deg, #4caf50, #03a9f4);
  /* light blue to light green */
}

#testimonials .card {
  background: linear-gradient(135deg, #d0f0ff, #e8f5e9);
}

#faq .accordion-item {
  background-color: #d4edda;
  color: #155724;
}

.customImg {
  width: 70px;
  height: 70px;
}

@media (max-width: 576px) {
  .customCardWidth {
    width: 18rem;
  }
}
